.increase-title{
    font-size: 50px;
}
.increase-body{
    font-size: 25px;
    font-weight: 600;
    padding-top:45px;
    line-height: 50px;
}
.bike-cont{
    margin-top:300px;
    padding-bottom: 200px;
    padding-top:300px
}
.col{
    padding-bottom: 50px;
}
.navi{
position: absolute;
text-align: center;
width:800px;
margin-left:450px;
padding-top:200px;
padding-bottom:400px
}
.bike-spinner{
    position: absolute;
    margin-top: 450px;
    margin-left: 45vw;
}
.filler{
    font-size: 20px;
}